<a href="https://colab.research.google.com/github/loureenvalyne/python-lessons/blob/main/Accessing_Data_within_Pandas_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Accessing Data within Pandas - Lab

##Introduction
In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

Objectives
You will be able to:

-Use pandas methods and attributes to access information about a dataset
-Index pandas dataframes with .loc, .iloc, and column names
-Use a boolean mask to index pandas series and dataframes

###Load the Data
Load the file 'WorldCupMatches.csv' as a DataFrame in pandas.

In [3]:
import pandas as pd
import json

In [4]:
# Load the JSON file
file_path = '/content/worldcup.json'  # Path to the uploaded file

with open(file_path, 'r') as file:
    worldcup_data = json.load(file)

# Flatten the nested structure (e.g., rounds -> matches) using pd.json_normalize
# The matches are under the 'rounds' key, so we need to extract that
df = pd.json_normalize(worldcup_data['rounds'], record_path=['matches'],
                       meta=['name'], errors='ignore')

###Common Methods and Attributes
Use the correct method to display the first 7 rows of the dataset.

In [5]:
df.head(7)

,num,date,time,score1,score2,score1i,score2i,goals1,goals2,group,...,team2.name,team2.code,stadium.key,stadium.name,score1et,score2et,score1p,score2p,knockout,name
0,1,2018-06-14,18:00,5,0,2,0,"[{'name': 'Gazinsky', 'minute': 12, 'score1': ...",[],Group A,...,Saudi Arabia,KSA,luzhniki,Luzhniki Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 1
1,2,2018-06-15,17:00,0,1,0,0,[],"[{'name': 'Giménez', 'minute': 89, 'score1': 0...",Group A,...,Uruguay,URU,ekaterinburg,Ekaterinburg Arena,NaN,NaN,NaN,NaN,NaN,Matchday 2
2,3,2018-06-15,21:00,3,3,2,1,"[{'name': 'Ronaldo', 'minute': 4, 'score1': 1,...","[{'name': 'Costa', 'minute': 24, 'score1': 1, ...",Group B,...,Spain,ESP,fisht,Fisht Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2
3,4,2018-06-15,18:00,0,1,0,0,[],"[{'name': 'Bouhaddouz', 'minute': 90, 'offset'...",Group B,...,Iran,IRN,saintpetersburg,Saint Petersburg Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2
4,5,2018-06-16,13:00,2,1,0,0,"[{'name': 'Griezmann', 'minute': 58, 'score1':...","[{'name': 'Jedinak', 'minute': 62, 'score1': 1...",Group C,...,Australia,AUS,kazan,Kazan Arena,NaN,NaN,NaN,NaN,NaN,Matchday 3
5,6,2018-06-16,19:00,0,1,0,0,[],"[{'name': 'Poulsen', 'minute': 59, 'score1': 0...",Group C,...,Denmark,DEN,mordovia,Mordovia Arena,NaN,NaN,NaN,NaN,NaN,Matchday 3
6,7,2018-06-16,16:00,1,1,1,1,"[{'name': 'Agüero', 'minute': 19, 'score1': 1,...","[{'name': 'Finnbogason', 'minute': 23, 'score1...",Group D,...,Iceland,ISL,spartak,Spartak Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 3

Display the last 3 rows of the dataset.

In [6]:
df.tail(3)

,num,date,time,score1,score2,score1i,score2i,goals1,goals2,group,...,team2.name,team2.code,stadium.key,stadium.name,score1et,score2et,score1p,score2p,knockout,name
61,62,2018-07-11,21:00,1,1,0,1,"[{'name': 'Ivan Perišić', 'minute': 68, 'score...","[{'name': 'Kieran Trippier', 'minute': 5, 'sco...",NaN,...,England,ENG,luzhniki,Luzhniki Stadium,2.0,1.0,NaN,NaN,True,Semi-finals
62,63,2018-07-14,17:00,2,0,1,0,"[{'name': 'Thomas Meunier', 'minute': 4, 'scor...",[],NaN,...,England,ENG,saintpetersburg,Saint Petersburg Stadium,NaN,NaN,NaN,NaN,True,Match for third place
63,64,2018-07-15,18:00,4,2,2,1,"[{'name': 'Mario Mandžukić', 'minute': 18, 'sc...","[{'name': 'Perišić', 'minute': 28, 'score1': 1...",NaN,...,Croatia,CRO,luzhniki,Luzhniki Stadium,NaN,NaN,NaN,NaN,True,Final

Get a concise summary of the data using .info().

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           64 non-null     int64
 1   date          64 non-null     object
 2   time          64 non-null     object
 3   score1        64 non-null     int64
 4   score2        64 non-null     int64
 5   score1i       64 non-null     int64
 6   score2i       64 non-null     int64
 7   goals1        62 non-null     object
 8   goals2        62 non-null     object
 9   group         48 non-null     object
 10  city          64 non-null     object
 11  timezone      64 non-null     object
 12  team1.name    64 non-null     object
 13  team1.code    64 non-null     object
 14  team2.name    64 non-null     object
 15  team2.code    64 non-null     object
 16  stadium.key   64 non-null     object
 17  stadium.name  64 non-null     object
 18  score1et      5 non-null      float64
 19  score2et      5 non-null      float64
 20  score1p       4 non-null      float64
 21  score2p       4 non-null      float64
 22  knockout      16 non-null     object
 23  name          64 non-null     object
dtypes: float64(4), int64(5), object(15)
memory usage: 12.1+ KB

Obtain a tuple representing the number of rows and number of columns.

In [8]:
df.shape

(64, 24)

Use the appropriate attribute to get the column names.

In [9]:
df.columns

Index(['num', 'date', 'time', 'score1', 'score2', 'score1i', 'score2i',
       'goals1', 'goals2', 'group', 'city', 'timezone', 'team1.name',
       'team1.code', 'team2.name', 'team2.code', 'stadium.key', 'stadium.name',
       'score1et', 'score2et', 'score1p', 'score2p', 'knockout', 'name'],
      dtype='object')

#Selecting DataFrame Information

When looking at the DataFrame's .head() and .tail(), you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. select rows 3 through 5 inclusive).

In [10]:
df.iloc[2:5]

,num,date,time,score1,score2,score1i,score2i,goals1,goals2,group,...,team2.name,team2.code,stadium.key,stadium.name,score1et,score2et,score1p,score2p,knockout,name
2,3,2018-06-15,21:00,3,3,2,1,"[{'name': 'Ronaldo', 'minute': 4, 'score1': 1,...","[{'name': 'Costa', 'minute': 24, 'score1': 1, ...",Group B,...,Spain,ESP,fisht,Fisht Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2
3,4,2018-06-15,18:00,0,1,0,0,[],"[{'name': 'Bouhaddouz', 'minute': 90, 'offset'...",Group B,...,Iran,IRN,saintpetersburg,Saint Petersburg Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2
4,5,2018-06-16,13:00,2,1,0,0,"[{'name': 'Griezmann', 'minute': 58, 'score1':...","[{'name': 'Jedinak', 'minute': 62, 'score1': 1...",Group C,...,Australia,AUS,kazan,Kazan Arena,NaN,NaN,NaN,NaN,NaN,Matchday 3

Now, display the info from game 5-9 (inclusive), but only the "Home Team Name" and the "Away Team Name" columns.

In [11]:
df.iloc[4:9][['team1.name', 'team2.name']]

  team1.name   team2.name
4     France    Australia
5       Peru      Denmark
6  Argentina      Iceland
7    Croatia      Nigeria
8     Brazil  Switzerland

Next, we'd like the information on all the games played in Group 3 for the 2018 World Cup.

Hint: You can combine conditions like this:

df[(condition1) | (condition2)] -> Returns rows where either condition is true

df[(condition1) & (condition2)] -> Returns rows where both conditions are true

In [12]:
# Convert 'date' column to datetime to extract the year
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['year'] = df['date'].dt.year

# Define the conditions
condition_group = df['group'] == 'Group C'   # Group C condition
condition_year = df['year'] == 2018          # Year is 2018

# Filter using & (AND) to return rows where both conditions are true
filtered_games = df[condition_group & condition_year]

# Display the filtered games
print(filtered_games)

    num       date   time  score1  score2  score1i  score2i  \
4     5 2018-06-16  13:00       2       1        0        0
5     6 2018-06-16  19:00       0       1        0        0
20   21 2018-06-21  20:00       1       0        1        0
21   22 2018-06-21  16:00       1       1        1        1
36   37 2018-06-26  17:00       0       0        0        0
37   38 2018-06-26  17:00       0       2        0        1

                                               goals1  \
4   [{'name': 'Griezmann', 'minute': 58, 'score1':...
5                                                  []
20  [{'name': 'Mbappé', 'minute': 34, 'score1': 1,...
21  [{'name': 'Eriksen', 'minute': 7, 'score1': 1,...
36                                                NaN
37                                                 []

                                               goals2    group  ...  \
4   [{'name': 'Jedinak', 'minute': 62, 'score1': 1...  Group C  ...
5   [{'name': 'Poulsen', 'minute': 59, 'score1': 0...  Group C  ...
20                                                 []  Group C  ...
21  [{'name': 'Jedinak', 'minute': 38, 'score1': 1...  Group C  ...
36                                                NaN  Group C  ...
37  [{'name': 'Carrillo', 'minute': 18, 'score1': ...  Group C  ...

   team2.code   stadium.key        stadium.name score1et score2et score1p  \
4         AUS         kazan         Kazan Arena      NaN      NaN     NaN
5         DEN      mordovia      Mordovia Arena      NaN      NaN     NaN
20        PER  ekaterinburg  Ekaterinburg Arena      NaN      NaN     NaN
21        AUS        samara        Samara Arena      NaN      NaN     NaN
36        FRA      luzhniki    Luzhniki Stadium      NaN      NaN     NaN
37        PER         fisht       Fisht Stadium      NaN      NaN     NaN

   score2p knockout         name  year
4      NaN      NaN   Matchday 3  2018
5      NaN      NaN   Matchday 3  2018
20     NaN      NaN   Matchday 8  2018
21     NaN      NaN   Matchday 8  2018
36     NaN      NaN  Matchday 13  2018
37     NaN      NaN  Matchday 13  2018

[6 rows x 25 columns]

These are 6 games from Group C in the 2018 World Cup.
The matches took place between June 16 and June 26, 2018.

In [13]:
# Check unique group names
print(df['group'].unique())

# Check the first few rows to inspect the 'date' column values
print(df[['date']].head())

['Group A' 'Group B' 'Group C' 'Group D' 'Group E' 'Group F' 'Group G'
 'Group H' nan]
        date
0 2018-06-14
1 2018-06-15
2 2018-06-15
3 2018-06-15
4 2018-06-16

Let's repeat the command above, but this time display only the attendance column for the Group 3 games.

In [14]:
# If 'attendance' exists, display only the attendance column for Group C games
if 'attendance' in df.columns:
    filtered_games[['attendance']]
else:
    print("No 'attendance' column found in the dataset.")

No 'attendance' column found in the dataset.

Throughout the entire history of the World Cup as recorded in this dataset, how many home games were played by the Netherlands?

(Remember that you can use the len() built-in function to find the number of rows in a DataFrame.)

In [15]:
# Filter for games where the Netherlands is the home team
netherlands_home_games = df[df['team1.name'] == 'Netherlands']

# Count the number of home games played by the Netherlands
num_home_games = len(netherlands_home_games)

# Display the result
print(f"Number of home games played by the Netherlands: {num_home_games}")

Number of home games played by the Netherlands: 0

How many games were played by the Netherlands in total?

In [16]:
# Filter for games where the Netherlands is either the home or away team
netherlands_total_games = df[(df['team1.name'] == 'Netherlands') & (df['team2.name'] == 'Netherlands')]

# Count the number of total games played by the Netherlands
num_total_games = len(netherlands_total_games)

# Display the result
print(f"Total number of games played by the Netherlands: {num_total_games}")

Total number of games played by the Netherlands: 0

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [17]:
# Filter the DataFrame for games played in the year 2014
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # Ensure 'date' is in datetime format
df['year'] = df['date'].dt.year  # Extract the year from the 'date' column

# Filter for games where USA is either the home or away team, and the year is 2014
usa_2014_games = df[((df['team1.name'] == 'USA') | (df['team2.name'] == 'USA')) & (df['year'] == 2014)]

# Count the number of games played by the USA in 2014
num_usa_2014_games = len(usa_2014_games)

# Display the result
print(f"Number of games played by the USA in the 2014 World Cup: {num_usa_2014_games}")

Number of games played by the USA in the 2014 World Cup: 0

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using set() or .unique().

In [18]:
# Step 1: Create a new dataset that only contains games in 1986
games_1986 = df[df['year'] == 1986]

# Step 2: Extract unique country names from team1.name and team2.name columns
unique_countries = set(games_1986['team1.name']).union(set(games_1986['team2.name']))

# Step 3: Count the number of unique countries
num_unique_countries = len(unique_countries)

# Display the result
print(f"Number of countries that participated in the 1986 World Cup: {num_unique_countries}")

Number of countries that participated in the 1986 World Cup: 0

##Changing Values and Creating New Columns

In World Cup history, how many matches had 5 goals or more in total? Create a column "Total Goals" to answer this question.

In [19]:
# Step 1: Create a new column "Total Goals"
df['Total Goals'] = df['score1'] + df['score2']  # Sum of goals scored by both teams

# Step 2: Filter for matches where "Total Goals" is 5 or more
matches_with_5_goals = df[df['Total Goals'] >= 5]

# Step 3: Count the number of such matches
num_matches_with_5_goals = len(matches_with_5_goals)

# Display the result
print(f"Number of matches with 5 goals or more in total: {num_matches_with_5_goals}")

Number of matches with 5 goals or more in total: 7

Now create a new column "Half-time Goals" in df that includes both home and away values.

In [20]:
# Create a new column "Half-time Goals" that includes both home and away values
df['Half-time Goals'] = df['score1i'] + df['score2i']  # Sum of half-time scores

# Display the updated DataFrame with the new column
print(df[['num', 'date', 'team1.name', 'team2.name', 'score1i', 'score2i', 'Half-time Goals']].head())

   num       date team1.name    team2.name  score1i  score2i  Half-time Goals
0    1 2018-06-14     Russia  Saudi Arabia        2        0                2
1    2 2018-06-15      Egypt       Uruguay        0        0                0
2    3 2018-06-15   Portugal         Spain        2        1                3
3    4 2018-06-15    Morocco          Iran        0        0                0
4    5 2018-06-16     France     Australia        0        0                0

In [21]:
df.columns

Index(['num', 'date', 'time', 'score1', 'score2', 'score1i', 'score2i',
       'goals1', 'goals2', 'group', 'city', 'timezone', 'team1.name',
       'team1.code', 'team2.name', 'team2.code', 'stadium.key', 'stadium.name',
       'score1et', 'score2et', 'score1p', 'score2p', 'knockout', 'name',
       'year', 'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [22]:
# Display all records containing the string 'Korea'
df.loc[df['team1.name'].str.contains('Korea'), 'team1.name']

27    South Korea
42    South Korea
Name: team1.name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [23]:
# Replace 'Korea' in both home and away team names with 'Korea'
df['team1.name'] = df['team1.name'].str.replace('Korea', 'Korea', regex=False)
df['team2.name'] = df['team2.name'].str.replace('Korea', 'Korea', regex=False)

# Replace team initials 'KOR' and 'PRK' with 'NSK'
df['team1.code'] = df['team1.code'].replace({'KOR': 'NSK', 'PRK': 'NSK'})
df['team2.code'] = df['team2.code'].replace({'KOR': 'NSK', 'PRK': 'NSK'})

# Display the updated columns to verify the changes
print(df[['team1.name', 'team2.name', 'team1.code', 'team2.code']].head())

  team1.name    team2.name team1.code team2.code
0     Russia  Saudi Arabia        RUS        KSA
1      Egypt       Uruguay        EGY        URU
2   Portugal         Spain        POR        ESP
3    Morocco          Iran        MAR        IRN
4     France     Australia        FRA        AUS

Make sure to verify your answer!

In [24]:
df.head(5)

,num,date,time,score1,score2,score1i,score2i,goals1,goals2,group,...,stadium.name,score1et,score2et,score1p,score2p,knockout,name,year,Total Goals,Half-time Goals
0,1,2018-06-14,18:00,5,0,2,0,"[{'name': 'Gazinsky', 'minute': 12, 'score1': ...",[],Group A,...,Luzhniki Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 1,2018,5,2
1,2,2018-06-15,17:00,0,1,0,0,[],"[{'name': 'Giménez', 'minute': 89, 'score1': 0...",Group A,...,Ekaterinburg Arena,NaN,NaN,NaN,NaN,NaN,Matchday 2,2018,1,0
2,3,2018-06-15,21:00,3,3,2,1,"[{'name': 'Ronaldo', 'minute': 4, 'score1': 1,...","[{'name': 'Costa', 'minute': 24, 'score1': 1, ...",Group B,...,Fisht Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2,2018,6,3
3,4,2018-06-15,18:00,0,1,0,0,[],"[{'name': 'Bouhaddouz', 'minute': 90, 'offset'...",Group B,...,Saint Petersburg Stadium,NaN,NaN,NaN,NaN,NaN,Matchday 2,2018,1,0
4,5,2018-06-16,13:00,2,1,0,0,"[{'name': 'Griezmann', 'minute': 58, 'score1':...","[{'name': 'Jedinak', 'minute': 62, 'score1': 1...",Group C,...,Kazan Arena,NaN,NaN,NaN,NaN,NaN,Matchday 3,2018,3,0

##Summary

In this lab, you practiced accessing data within Pandas!