<a href="https://colab.research.google.com/github/loureenvalyne/python-lessons/blob/main/Workout_loops_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
zero_to_three = [0, 1, 2, 3]

In [ ]:
print(zero_to_three[0])
print(zero_to_three[1])
print(zero_to_three[2])
print(zero_to_three[3])

0
1
2
3

In [ ]:
for number in zero_to_three:
    print(number)

0
1
2
3

In [ ]:
iteration_count = 0
for whatever_we_want in zero_to_three:
    iteration_count += 1
    print("This is iteration:", iteration_count)
    print(whatever_we_want)
print("The for loop is finished now! I am not in the for loop block, which is why I only printed once!")

This is iteration: 1
0
This is iteration: 2
1
This is iteration: 3
2
This is iteration: 4
3
The for loop is finished now! I am not in the for loop block, which is why I only printed once!

In [ ]:
#Using list elements indeces
#In the examples above, we used the elements in our list to perform an operation, which was printing them. We can also use a list of numbers to access elements from another list. Let's take a look at an example.

countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']

In [ ]:
for index in [0,1,2,3,4,5,6]:
    print(index)
    print(countries[index])

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

in the example above, we are still using the elements in the list of numbers from 0 to 6 in our for loop, but we are instead using them to access each element of another list. This example is a bit contrived, but perhaps you have two lists that are ordered correctly and have information like the capital cities in one list and the corresponding countries in another. How would we print both of those out in the same line?

In [ ]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']

In [ ]:
for index in [0,1,2,3,4,5,6]:
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

When unsure of the length we use the len function

In [ ]:
len(countries)

7

Then we can turn this length into a successive list of elements in the following way:

First, create a range object:

In [ ]:
range(0, len(countries))

range(0, 7)

Then we turn it into a list

In [ ]:
list(range(0, len(countries)))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

To add a country and city to the list by appending

In [ ]:
countries.append('Mexico')
cities.append('Mexico City')
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam
Mexico City, Mexico

Now that we know we can iterate through a list that contains multiple data types, let's explore iterating through a data type that's not a list.

Another collection we commonly will iterate over is a dictionary. Dictionaries differ from lists, on a high level, in that elements are key, value pairs instead of one single element. So, when we go through each item in a dictionary, we are actually working with a two-part element (with a key & value). Similarly to how we name a variable for the element in a list for a for loop, we name a variable for both the key and value when we iterate over a dictionary. However, in Python, we can't iterate directly over the dictionary, we iterate over the items of a dictionary, which are the key-value pairs. Let's take a look at an example.

In [ ]:
example_dictionary = {'first_name': "Terrance", 'last_name': "KOAR", 'favorite_language': "Python"}
print(example_dictionary.items())
type(example_dictionary.items())

dict_items([('first_name', 'Terrance'), ('last_name', 'KOAR'), ('favorite_language', 'Python')])

dict_items

Here we can see this dict_items object looks almost like a list, but each item has two parts, the key and value. So, in our first iteration, the first key will be first_name, and the first value will be Terrance.

In [ ]:
for key, value in example_dictionary.items():
    print("this is the key:", key)
    print("this is the value:", value, "\n")

this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

So, we can see that the dict_items object groups the key values together in a way that we can iterate over them and access them. We can even use them to inform our program to operate on keys and values in a certain way. Such as, the last name is inexplicably in all caps. Let's look at how we can rectify that and title case the last name when we print out the full name of the example_dictionary object.

In [ ]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.title()
    if key == "first_name":
        first_name = value
print(first_name, last_name)

Terrance Koar

#Conventional Naming Patterns

Typically, when we are looping through a collection of things like countries, we will name the looping variable, country, since that is the singular version of the plural name that represents our list. This is convention and helps to not only remind us, but tell other people looking at our code what that variable is. Let's take a look at a couple examples.

In [ ]:
for country in countries:
    print(country)

Croatia
USA
Argentina
France
Brazil
Japan
Vietnam
Mexico

In [ ]:
ice_cream_flavors = ['Mint Chocolate Chip', 'Coffee', 'Cookie Dough', 'Fudge Mint Brownie', 'Vanilla Bean']
for ice_cream_flavor in ice_cream_flavors:
    print('I love ' + ice_cream_flavor + ' ice cream!!')

I love Mint Chocolate Chip ice cream!!
I love Coffee ice cream!!
I love Cookie Dough ice cream!!
I love Fudge Mint Brownie ice cream!!
I love Vanilla Bean ice cream!!

#Summary
In this lesson, we learned how to use loops to iterate through a collection of elements. We started with iterating through a list of numbers, and performed the same operation on each number. Then we saw how we can loop through the numbers and have each number be used to access a successive element from a separate list, like countries. We then saw that to ensure our list of numbers matched the indices of our other list, we had to use the expression, for element in list(range(0, len(list))). Finally, we introduced a naming convention that is commonly used when naming the variable for our loops when iterating over a collection that is a list of common elements (i.e. ice_cream_flavor for a list of ice_cream_flavors).